body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background: radial-gradient(rgb(215, 215, 215), #ccc);
    height: 100vh;
}
main {
    box-shadow: 3px 3px 5px 6px #00000036;
    padding: 0px 0px 5px 0px;
}
table {
    padding: 10px;
    background: #fff;
    border-collapse: collapse;
    /* width: 700px; */
    width: 100%;
    
}
table thead th {
    vertical-align: bottom;
}
table td, table th {
    padding: 0.75rem;
}


table tr {
    padding: 10px;
}
table th {
    text-align: left;
}
table td {
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: #ccc;
  }

  /* 
  Styling for the button => Pagination
  */
  .nav-element {
    display: flex;
    justify-content: space-between;
    background: #ccc;
  }
  .nav-element button {
      cursor: pointer;
  }
  
  
  /* 
  *
  Break points for responsivenes
  This query will take effect for any screen smaller than 700px 
  *
  */
  @media 
only screen and (max-width: 700px),
(min-device-width: 700px) and (max-device-width: 700px)  {

	table, thead, tbody, th, td, tr { 
        display: flex; 
        flex-flow: row wrap;
    }
    table tr {
        flex-basis: 100%;
    }
    table td {
        flex-basis: 45%;
        padding: 26px 10px 26px 10px;
    }
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid #eee;  */
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: -2px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "💰 Coin"; }
	td:nth-of-type(2):before { content: "📄 Code"; }
	td:nth-of-type(3):before { content: "🤑 Price"; }
	td:nth-of-type(4):before { content: "📉 Total Supply"; }

}